
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}


.room-input {
  width: 90%;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.enter-btn {
  padding: 8px 20px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.enter-btn:hover {
  background-color: #45a049;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
